.animacion {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: infinite;
    animation-fill-mode: infinite;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.3;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.3;
    }
}

.flash {
    -moz-animation: flash 2s infinite linear;
    -o-animation: flash 2s infinite linear;
    -webkit-animation: flash 2s infinite linear;
    animation: flash 2s infinite linear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: flash;
}

.notifica {
    border: 2px solid rgb(255, 229, 143) !important;
    background-color: rgb(255, 251, 230) !important;
}