.abierto {
    border: 2px solid rgba(204, 51, 0, 1);
}

.cerrado {
    border: 2px solid rgba(51, 153, 0, 1);
}

.tam {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.alineacion {
    text-align: center;
}

.notifica {
    border: 2px solid rgb(255, 229, 143) !important;
    background-color: rgb(255, 251, 230) !important;
}