.Contenedor {
    width: 100%;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
}

.Controles {
    background-color: red;
    width: 100%;
}

.ContenedorAlarma {
    background-color: aqua;
}

.ContenedorSensores {
    width: 100%;
    background-color: lime;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}