@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
 
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #FbFbFb; */
    background: linear-gradient(180deg, #8abbd0, #e5eff4);
}
 
#root {
    display: flex;
    justify-content: center;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;
    background: linear-gradient(180deg, #8abbd0, #e5eff4);
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}